body {
  background-color: #ececec; }

.container .blocks {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap; }
  .container .blocks .block-shadow {
    display: flex;
    align-self: center;
    cursor: pointer;
    background-color: white;
    width: 24%;
    height: 150px;
    padding: 10px;
    margin: 4px;
    box-shadow: 3px 3px 5px 0 #838383;
    transition: all 0.5s ease;
    justify-content: center; }
    .container .blocks .block-shadow span {
      font-size: 50px;
      align-self: center; }
    .container .blocks .block-shadow:hover {
      background-color: #dadada; }

footer .alert-error, footer .alert-info {
  border-radius: 10px;
  padding: 10px 20px; }
footer h1, footer .alert-error {
  color: green; }
footer .alert-error {
  background: #f2dede;
  color: #b94a48; }

/*# sourceMappingURL=main.css.map */
