.play-cube .actions {
  text-align: center; }
.play-cube .container {
  margin: 50px auto;
  width: 300px; }
.play-cube .cell {
  background-color: white;
  border: 2px solid black;
  float: left;
  height: 96px;
  width: 96px; }
.play-cube .cell:hover {
  border-color: red; }

/*# sourceMappingURL=play-cube.css.map */
