.play-cube {
  width: 300px;
  height: 100px;
  background-color: $grey;
  .actions {
    text-align: center;
  }
  .ai {
    background-image: url('../../../assets/image/ai.jpg');
  }
  .container {
    margin: 50px auto;
    width: 300px;
    .cell {
      background-color: white;
      border: 2px solid black;
      float: left;
      height: 96px;
      width: 96px;
    }
    .cell:hover {
      border-color: red;
    }
    .player {
      background-image: url('../../../assets/image/player.jpg');
    }
  }
}