$shadow-color:#838383;
$gray: #dadada;


@import "variables";
@import "components/options";
@import "components/rate-table";
@import "components/cube.scss";
body{
  background-color: #ececec;
  font-family: 'Raleway', Arial, sans-serif;

}

p{
  margin: 0;
}
header{
  .header-game-name{
    font-size: 20px;
  }
}

section{
  display: flex;
  justify-content: center;

  .bordered{
    border: 1px solid $grey;
    border-radius: 10px;
    padding: 10px;
  }


}
footer{

}