@import url(//fonts.googleapis.com/css?family=Raleway:200,500,700,800);
.wrapper-options .player-options {
  padding: 20px; }
.wrapper-options .cube-options {
  padding: 20px; }
.wrapper-options .options-name {
  font-size: 0.8em; }

.rate-table-container {
  display: flex;
  font-size: 0.8em;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  border: 1px solid #4a4a4a; }

.play-cube {
  width: 300px;
  height: 100px;
  background-color: #404d5b; }
  .play-cube .actions {
    text-align: center; }
  .play-cube .ai {
    background-image: url("../../../assets/image/ai.jpg"); }
  .play-cube .container {
    margin: 50px auto;
    width: 300px; }
    .play-cube .container .cell {
      background-color: white;
      border: 2px solid black;
      float: left;
      height: 96px;
      width: 96px; }
    .play-cube .container .cell:hover {
      border-color: red; }
    .play-cube .container .player {
      background-image: url("../../../assets/image/player.jpg"); }

body {
  background-color: #ececec;
  font-family: 'Raleway', Arial, sans-serif; }

p {
  margin: 0; }

header .header-game-name {
  font-size: 20px; }

section {
  display: flex;
  justify-content: center; }
  section .bordered {
    border: 1px solid #404d5b;
    border-radius: 10px;
    padding: 10px; }

/*# sourceMappingURL=main.css.map */
