body{
    font-family: 'Fredoka One', cursive;
    background-color:#232323;
}
.container{
    width:60%;
    margin: 0 auto;
}
#newGame{
    background-color: rgb(236, 236, 236);
    color: #232323;
    border:2px solid #232323;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
#newGame:hover{
    background-color:  #232323;
    color: rgb(236, 236, 236);
    border: 2px solid rgb(236, 236, 236);

}
.start-block{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    flex-wrap: wrap;
    display: flex;
}
.cell{
    height: 96px;
    width: 96px;
    background-color: rgba(35, 35, 35, 0.02);
    border: 2px solid rgb(236, 236, 236);
}
.game-item{
    font-size: 70px;
    width: 100px;
    height: 100px;
    text-shadow: 5px 5px 5px rgb(17, 17, 17);
    text-align: center;
    font-weight: bold;
    position: absolute;
    display: none;

    animation-name: expandOpen;
    -webkit-animation-name: expandOpen;

    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}
#cross{
    color: #82101a;
}
#null{
    color: #232384;
}

@keyframes expandOpen {
    0% {
        transform: scale(2);
        opacity: 0.2;
    }

    30%{
        opacity: 0.4;
    }
    35%{
        opacity: 0.5;
    }
    40%{
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 0.8;
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    90% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);

    }
}

@-webkit-keyframes expandOpen {
    0% {
        -webkit-transform: scale(1.8);
    }
    50% {
        -webkit-transform: scale(0.95);
    }
    80% {
        -webkit-transform: scale(1.05);
    }
    90% {
        -webkit-transform: scale(0.98);
    }
    100% {
        -webkit-transform: scale(1);
    }
}